# Default to ignore all files
/*

# My shell configuration
# Mostly taken from https://github.com/necolas/dotfiles
!.bashrc
!.inputrc
!.dotfiles/
.dotfiles/*
!.dotfiles/shell/


# Add gitignore file
!.gitignore

# Add .gitconfig file
!.gitconfig

# Add emacs config file
!.emacs

# Add tmux config file
!.tmux.conf

# Add ghci config file
!.ghci

# Add Readme file
!README.md

# Add Readme file
!LICENSE

# Adding .emacs.d
!.emacs.d

# Ignore everything in ".emacs.d", except the directories specified
.emacs.d/*
!.emacs.d/elpa/
!.emacs.d/themes/

# Ignore everything in "elpa", except the packages specified
.emacs.d/elpa/*
!.emacs.d/elpa/cl-lib-0.4
!.emacs.d/elpa/haskell-mode-20140205.548
!.emacs.d/elpa/xclip-1.3
!.emacs.d/elpa/ghc-1.10.2


# Ignore everything in "themes", except the themes specified
.emacs.d/themes/*
!.emacs.d/themes/emacs-color-theme-solarized






